<h1>Edit Paid bill</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.paid_bill_path(@conn, :update, @paid_bill)) %>

<span><%= link "Back", to: Routes.paid_bill_path(@conn, :index) %></span>
